
@import "layout/contact";
@import "layout/navbar";
@import "layout/grid";
@import "pages/home";

body {
  margin: 0;
}

* {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, p {
  color: #333;
}

a {
  text-decoration: none;
  &:hover {
    font-weight: bold;
  }
}
