<div class='training'>
	<h1><span class="desktop">Practical t</span><span class="mobile">T</span>raining for software developers</h1>
	<p><span class="desktop">Globe Town offers h</span><span class="mobile">H</span>ands-on training in React and React Native.</p>
	<button class='button-one'>BOOK TRAINING</button>
</div>

<div class='training-copy'>
	<div>

		<h2>We offer weekend workshops at our offices in Bethnal Green. We can also visit you, particularly if your team would prefer training to take place during the week.</h2>

		<%- partial("_react-native.md") %>

		<%- partial("_react.md") %>

		<%- partial("_stack.md") %>

	</div>
</div>
